In [1]:
# Install Google API Client
!pip install --upgrade google-api-python-client
# https://developers.google.com/analytics/devguides/reporting/core/v4/quickstart/service-py

Collecting google-api-python-client
  Downloading https://files.pythonhosted.org/packages/51/9a/2976a839fffb35d341bdce0cb06f1f9da80b148bfe209c55d3e34e5cc146/google_api_python_client-1.12.3-py2.py3-none-any.whl (61kB)
     |████████████████████████████████| 61kB 2.0MB/s
Requirement already satisfied, skipping upgrade: httplib2<1dev,>=0.15.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (0.17.4)
Collecting google-api-core<2dev,>=1.21.0
  Downloading https://files.pythonhosted.org/packages/3c/45/a5707ce2cbd6681c09e69a0ce10d9bebe98e0231c458a4dc652670f3584f/google_api_core-1.22.2-py2.py3-none-any.whl (91kB)
     |████████████████████████████████| 92kB 5.1MB/s
Requirement already satisfied, skipping upgrade: google-auth>=1.16.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (1.17.2)
Requirement already satisfied, skipping upgrade: uritemplate<4dev,>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (3.0.1)
Requirement already satisfied, skipping upgrade: google-auth-httplib2>=0.0.3 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (0.0.4)
Requirement already satisfied, skipping upgrade: six<2dev,>=1.13.0 in /usr/local/lib/python3.6/dist-packages (from google-api-python-client) (1.15.0)
Requirement already satisfied, skipping upgrade: requests<3.0.0dev,>=2.18.0 in /usr/local/lib/python3.6/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client) (2.23.0)
Requirement already satisfied, skipping upgrade: pytz in /usr/local/lib/python3.6/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client) (2018.9)
Requirement already satisfied, skipping upgrade: googleapis-common-protos<2.0dev,>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client) (1.52.0)
Requirement already satisfied, skipping upgrade: protobuf>=3.12.0 in /usr/local/lib/python3.6/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client) (3.12.4)
Requirement already satisfied, skipping upgrade: setuptools>=34.0.0 in /usr/local/lib/python3.6/dist-packages (from google-api-core<2dev,>=1.21.0->google-api-python-client) (50.3.0)
Requirement already satisfied, skipping upgrade: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.16.0->google-api-python-client) (0.2.8)
Requirement already satisfied, skipping upgrade: rsa<5,>=3.1.4; python_version >= "3" in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.16.0->google-api-python-client) (4.6)
Requirement already satisfied, skipping upgrade: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.6/dist-packages (from google-auth>=1.16.0->google-api-python-client) (4.1.1)
Requirement already satisfied, skipping upgrade: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client) (2020.6.20)
Requirement already satisfied, skipping upgrade: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client) (1.24.3)
Requirement already satisfied, skipping upgrade: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client) (2.10)
Requirement already satisfied, skipping upgrade: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests<3.0.0dev,>=2.18.0->google-api-core<2dev,>=1.21.0->google-api-python-client) (3.0.4)
Requirement already satisfied, skipping upgrade: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.6/dist-packages (from pyasn1-modules>=0.2.1->google-auth>=1.16.0->google-api-python-client) (0.4.8)
ERROR: google-api-core 1.22.2 has requirement google-auth<2.0dev,>=1.21.1, but you'll have google-auth 1.17.2 which is incompatible.
Installing collected packages: google-api-core, google-api-python-client
  Found existing installation: google-api-core 1.16.0
    Uninstalling google-api-core-1.16.0:
      Successfully uninstalled google-api-core-1.16.0
  Found existing installation: google-api-python-client 1.7.12
    Uninstalling google-api-python-client-1.7.12:
      Successfully uninstalled google-api-python-client-1.7.12
Successfully installed google-api-core-1.22.2 google-api-python-client-1.12.3

In [2]:
from apiclient.discovery import build
from oauth2client.service_account import ServiceAccountCredentials

In [8]:
SCOPES = ['https://www.googleapis.com/auth/analytics.readonly']
KEY_FILE_LOCATION = 'silken-physics-203919-57e8479ea0c4.json'
credentials = ServiceAccountCredentials.from_json_keyfile_name(
      KEY_FILE_LOCATION, SCOPES)
analytics = build('analyticsreporting', 'v4', credentials=credentials)

In [9]:
response = analytics.reports().batchGet(
      body={
        'reportRequests': [
        {
          'viewId': '115892775',
          'dateRanges': [{'startDate': '7daysAgo', 'endDate': 'today'}],
          'metrics': [{'expression': 'ga:sessions'}],
          'dimensions': [{'name': 'ga:country'}]
        }]
      }
  ).execute()

In [10]:
for report in response.get('reports', []):
    columnHeader = report.get('columnHeader', {})
    dimensionHeaders = columnHeader.get('dimensions', [])
    metricHeaders = columnHeader.get('metricHeader', {}).get('metricHeaderEntries', [])

    for row in report.get('data', {}).get('rows', []):
      dimensions = row.get('dimensions', [])
      dateRangeValues = row.get('metrics', [])

      for header, dimension in zip(dimensionHeaders, dimensions):
        print(header + ': ' + dimension)

      for i, values in enumerate(dateRangeValues):
        print('Date range: ' + str(i))
        for metricHeader, value in zip(metricHeaders, values.get('values')):
          print(metricHeader.get('name') + ': ' + value)

ga:country: (not set)
Date range: 0
ga:sessions: 4
ga:country: Argentina
Date range: 0
ga:sessions: 3
ga:country: Armenia
Date range: 0
ga:sessions: 1
ga:country: Australia
Date range: 0
ga:sessions: 4
ga:country: Austria
Date range: 0
ga:sessions: 7
ga:country: Bangladesh
Date range: 0
ga:sessions: 5
ga:country: Belgium
Date range: 0
ga:sessions: 8
ga:country: Bosnia & Herzegovina
Date range: 0
ga:sessions: 1
ga:country: Botswana
Date range: 0
ga:sessions: 1
ga:country: Brazil
Date range: 0
ga:sessions: 8
ga:country: Bulgaria
Date range: 0
ga:sessions: 2
ga:country: Canada
Date range: 0
ga:sessions: 9
ga:country: Chile
Date range: 0
ga:sessions: 1
ga:country: China
Date range: 0
ga:sessions: 6
ga:country: Colombia
Date range: 0
ga:sessions: 3
ga:country: Croatia
Date range: 0
ga:sessions: 3
ga:country: Curaçao
Date range: 0
ga:sessions: 1
ga:country: Cyprus
Date range: 0
ga:sessions: 3
ga:country: Denmark
Date range: 0
ga:sessions: 7
ga:country: Dominican Republic
Date range: 0
ga:sessions: 2
ga:country: Egypt
Date range: 0
ga:sessions: 1
ga:country: France
Date range: 0
ga:sessions: 22
ga:country: Germany
Date range: 0
ga:sessions: 23
ga:country: Ghana
Date range: 0
ga:sessions: 1
ga:country: Greece
Date range: 0
ga:sessions: 23
ga:country: Hong Kong
Date range: 0
ga:sessions: 2
ga:country: Hungary
Date range: 0
ga:sessions: 2
ga:country: India
Date range: 0
ga:sessions: 68
ga:country: Indonesia
Date range: 0
ga:sessions: 2
ga:country: Ireland
Date range: 0
ga:sessions: 2
ga:country: Italy
Date range: 0
ga:sessions: 7
ga:country: Jamaica
Date range: 0
ga:sessions: 1
ga:country: Japan
Date range: 0
ga:sessions: 3
ga:country: Jordan
Date range: 0
ga:sessions: 2
ga:country: Kazakhstan
Date range: 0
ga:sessions: 2
ga:country: Kenya
Date range: 0
ga:sessions: 1
ga:country: Latvia
Date range: 0
ga:sessions: 1
ga:country: Liechtenstein
Date range: 0
ga:sessions: 1
ga:country: Lithuania
Date range: 0
ga:sessions: 1
ga:country: Mexico
Date range: 0
ga:sessions: 2
ga:country: Moldova
Date range: 0
ga:sessions: 1
ga:country: Morocco
Date range: 0
ga:sessions: 3
ga:country: Nepal
Date range: 0
ga:sessions: 1
ga:country: Netherlands
Date range: 0
ga:sessions: 45
ga:country: New Zealand
Date range: 0
ga:sessions: 2
ga:country: Nigeria
Date range: 0
ga:sessions: 12
ga:country: North Macedonia
Date range: 0
ga:sessions: 2
ga:country: Norway
Date range: 0
ga:sessions: 5
ga:country: Pakistan
Date range: 0
ga:sessions: 6
ga:country: Panama
Date range: 0
ga:sessions: 1
ga:country: Philippines
Date range: 0
ga:sessions: 16
ga:country: Poland
Date range: 0
ga:sessions: 96
ga:country: Portugal
Date range: 0
ga:sessions: 7
ga:country: Qatar
Date range: 0
ga:sessions: 2
ga:country: Romania
Date range: 0
ga:sessions: 10
ga:country: Russia
Date range: 0
ga:sessions: 5
ga:country: Serbia
Date range: 0
ga:sessions: 4
ga:country: Singapore
Date range: 0
ga:sessions: 12
ga:country: Slovenia
Date range: 0
ga:sessions: 3
ga:country: South Africa
Date range: 0
ga:sessions: 4
ga:country: South Korea
Date range: 0
ga:sessions: 1
ga:country: Spain
Date range: 0
ga:sessions: 35
ga:country: Sweden
Date range: 0
ga:sessions: 2
ga:country: Switzerland
Date range: 0
ga:sessions: 17
ga:country: Taiwan
Date range: 0
ga:sessions: 1
ga:country: Thailand
Date range: 0
ga:sessions: 1
ga:country: Tunisia
Date range: 0
ga:sessions: 2
ga:country: Turkey
Date range: 0
ga:sessions: 18
ga:country: Ukraine
Date range: 0
ga:sessions: 6
ga:country: United Arab Emirates
Date range: 0
ga:sessions: 1
ga:country: United Kingdom
Date range: 0
ga:sessions: 164
ga:country: United States
Date range: 0
ga:sessions: 260
ga:country: Vietnam
Date range: 0
ga:sessions: 2

In [11]:
response

{'reports': [{'columnHeader': {'dimensions': ['ga:country'],
    'metricHeader': {'metricHeaderEntries': [{'name': 'ga:sessions',
       'type': 'INTEGER'}]}},
   'data': {'maximums': [{'values': ['260']}],
    'minimums': [{'values': ['0']}],
    'rowCount': 73,
    'rows': [{'dimensions': ['(not set)'], 'metrics': [{'values': ['4']}]},
     {'dimensions': ['Argentina'], 'metrics': [{'values': ['3']}]},
     {'dimensions': ['Armenia'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Australia'], 'metrics': [{'values': ['4']}]},
     {'dimensions': ['Austria'], 'metrics': [{'values': ['7']}]},
     {'dimensions': ['Bangladesh'], 'metrics': [{'values': ['5']}]},
     {'dimensions': ['Belgium'], 'metrics': [{'values': ['8']}]},
     {'dimensions': ['Bosnia & Herzegovina'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Botswana'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Brazil'], 'metrics': [{'values': ['8']}]},
     {'dimensions': ['Bulgaria'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Canada'], 'metrics': [{'values': ['9']}]},
     {'dimensions': ['Chile'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['China'], 'metrics': [{'values': ['6']}]},
     {'dimensions': ['Colombia'], 'metrics': [{'values': ['3']}]},
     {'dimensions': ['Croatia'], 'metrics': [{'values': ['3']}]},
     {'dimensions': ['Curaçao'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Cyprus'], 'metrics': [{'values': ['3']}]},
     {'dimensions': ['Denmark'], 'metrics': [{'values': ['7']}]},
     {'dimensions': ['Dominican Republic'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Egypt'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['France'], 'metrics': [{'values': ['22']}]},
     {'dimensions': ['Germany'], 'metrics': [{'values': ['23']}]},
     {'dimensions': ['Ghana'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Greece'], 'metrics': [{'values': ['23']}]},
     {'dimensions': ['Hong Kong'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Hungary'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['India'], 'metrics': [{'values': ['68']}]},
     {'dimensions': ['Indonesia'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Ireland'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Italy'], 'metrics': [{'values': ['7']}]},
     {'dimensions': ['Jamaica'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Japan'], 'metrics': [{'values': ['3']}]},
     {'dimensions': ['Jordan'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Kazakhstan'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Kenya'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Latvia'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Liechtenstein'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Lithuania'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Mexico'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Moldova'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Morocco'], 'metrics': [{'values': ['3']}]},
     {'dimensions': ['Nepal'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Netherlands'], 'metrics': [{'values': ['45']}]},
     {'dimensions': ['New Zealand'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Nigeria'], 'metrics': [{'values': ['12']}]},
     {'dimensions': ['North Macedonia'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Norway'], 'metrics': [{'values': ['5']}]},
     {'dimensions': ['Pakistan'], 'metrics': [{'values': ['6']}]},
     {'dimensions': ['Panama'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Philippines'], 'metrics': [{'values': ['16']}]},
     {'dimensions': ['Poland'], 'metrics': [{'values': ['96']}]},
     {'dimensions': ['Portugal'], 'metrics': [{'values': ['7']}]},
     {'dimensions': ['Qatar'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Romania'], 'metrics': [{'values': ['10']}]},
     {'dimensions': ['Russia'], 'metrics': [{'values': ['5']}]},
     {'dimensions': ['Serbia'], 'metrics': [{'values': ['4']}]},
     {'dimensions': ['Singapore'], 'metrics': [{'values': ['12']}]},
     {'dimensions': ['Slovenia'], 'metrics': [{'values': ['3']}]},
     {'dimensions': ['South Africa'], 'metrics': [{'values': ['4']}]},
     {'dimensions': ['South Korea'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Spain'], 'metrics': [{'values': ['35']}]},
     {'dimensions': ['Sweden'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Switzerland'], 'metrics': [{'values': ['17']}]},
     {'dimensions': ['Taiwan'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Thailand'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['Tunisia'], 'metrics': [{'values': ['2']}]},
     {'dimensions': ['Turkey'], 'metrics': [{'values': ['18']}]},
     {'dimensions': ['Ukraine'], 'metrics': [{'values': ['6']}]},
     {'dimensions': ['United Arab Emirates'], 'metrics': [{'values': ['1']}]},
     {'dimensions': ['United Kingdom'], 'metrics': [{'values': ['164']}]},
     {'dimensions': ['United States'], 'metrics': [{'values': ['260']}]},
     {'dimensions': ['Vietnam'], 'metrics': [{'values': ['2']}]}],
    'totals': [{'values': ['993']}]}}]}

In [12]:
response["reports"][0]["data"]["rows"]

[{'dimensions': ['(not set)'], 'metrics': [{'values': ['4']}]},
 {'dimensions': ['Argentina'], 'metrics': [{'values': ['3']}]},
 {'dimensions': ['Armenia'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Australia'], 'metrics': [{'values': ['4']}]},
 {'dimensions': ['Austria'], 'metrics': [{'values': ['7']}]},
 {'dimensions': ['Bangladesh'], 'metrics': [{'values': ['5']}]},
 {'dimensions': ['Belgium'], 'metrics': [{'values': ['8']}]},
 {'dimensions': ['Bosnia & Herzegovina'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Botswana'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Brazil'], 'metrics': [{'values': ['8']}]},
 {'dimensions': ['Bulgaria'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Canada'], 'metrics': [{'values': ['9']}]},
 {'dimensions': ['Chile'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['China'], 'metrics': [{'values': ['6']}]},
 {'dimensions': ['Colombia'], 'metrics': [{'values': ['3']}]},
 {'dimensions': ['Croatia'], 'metrics': [{'values': ['3']}]},
 {'dimensions': ['Curaçao'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Cyprus'], 'metrics': [{'values': ['3']}]},
 {'dimensions': ['Denmark'], 'metrics': [{'values': ['7']}]},
 {'dimensions': ['Dominican Republic'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Egypt'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['France'], 'metrics': [{'values': ['22']}]},
 {'dimensions': ['Germany'], 'metrics': [{'values': ['23']}]},
 {'dimensions': ['Ghana'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Greece'], 'metrics': [{'values': ['23']}]},
 {'dimensions': ['Hong Kong'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Hungary'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['India'], 'metrics': [{'values': ['68']}]},
 {'dimensions': ['Indonesia'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Ireland'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Italy'], 'metrics': [{'values': ['7']}]},
 {'dimensions': ['Jamaica'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Japan'], 'metrics': [{'values': ['3']}]},
 {'dimensions': ['Jordan'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Kazakhstan'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Kenya'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Latvia'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Liechtenstein'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Lithuania'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Mexico'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Moldova'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Morocco'], 'metrics': [{'values': ['3']}]},
 {'dimensions': ['Nepal'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Netherlands'], 'metrics': [{'values': ['45']}]},
 {'dimensions': ['New Zealand'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Nigeria'], 'metrics': [{'values': ['12']}]},
 {'dimensions': ['North Macedonia'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Norway'], 'metrics': [{'values': ['5']}]},
 {'dimensions': ['Pakistan'], 'metrics': [{'values': ['6']}]},
 {'dimensions': ['Panama'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Philippines'], 'metrics': [{'values': ['16']}]},
 {'dimensions': ['Poland'], 'metrics': [{'values': ['96']}]},
 {'dimensions': ['Portugal'], 'metrics': [{'values': ['7']}]},
 {'dimensions': ['Qatar'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Romania'], 'metrics': [{'values': ['10']}]},
 {'dimensions': ['Russia'], 'metrics': [{'values': ['5']}]},
 {'dimensions': ['Serbia'], 'metrics': [{'values': ['4']}]},
 {'dimensions': ['Singapore'], 'metrics': [{'values': ['12']}]},
 {'dimensions': ['Slovenia'], 'metrics': [{'values': ['3']}]},
 {'dimensions': ['South Africa'], 'metrics': [{'values': ['4']}]},
 {'dimensions': ['South Korea'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Spain'], 'metrics': [{'values': ['35']}]},
 {'dimensions': ['Sweden'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Switzerland'], 'metrics': [{'values': ['17']}]},
 {'dimensions': ['Taiwan'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Thailand'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['Tunisia'], 'metrics': [{'values': ['2']}]},
 {'dimensions': ['Turkey'], 'metrics': [{'values': ['18']}]},
 {'dimensions': ['Ukraine'], 'metrics': [{'values': ['6']}]},
 {'dimensions': ['United Arab Emirates'], 'metrics': [{'values': ['1']}]},
 {'dimensions': ['United Kingdom'], 'metrics': [{'values': ['164']}]},
 {'dimensions': ['United States'], 'metrics': [{'values': ['260']}]},
 {'dimensions': ['Vietnam'], 'metrics': [{'values': ['2']}]}]

In [13]:
import pandas as pd
data_rows = response["reports"][0]["data"]["rows"]
pd.DataFrame(data_rows)

                dimensions                metrics
0              [(not set)]    [{'values': ['4']}]
1              [Argentina]    [{'values': ['3']}]
2                [Armenia]    [{'values': ['1']}]
3              [Australia]    [{'values': ['4']}]
4                [Austria]    [{'values': ['7']}]
..                     ...                    ...
68               [Ukraine]    [{'values': ['6']}]
69  [United Arab Emirates]    [{'values': ['1']}]
70        [United Kingdom]  [{'values': ['164']}]
71         [United States]  [{'values': ['260']}]
72               [Vietnam]    [{'values': ['2']}]

[73 rows x 2 columns]

In [14]:
countries = pd.DataFrame(data_rows)

In [15]:
def cleanParens(x):
    x = x.replace('[', '')
    x = x.replace(']', '')
    x = x.replace("{'values': '", '')
    x = x.replace("'}", '')
    x = x.replace("'", '')
    return x

In [16]:
countries["dimensions"] = countries["dimensions"].astype('str')
countries["dimensions"] = countries["dimensions"].apply(cleanParens)

countries["metrics"] = countries["metrics"].astype('str')
countries["metrics"] = countries["metrics"].apply(cleanParens)

In [17]:
countries.head()

  dimensions metrics
0  (not set)       4
1  Argentina       3
2    Armenia       1
3  Australia       4
4    Austria       7

In [18]:
countries["metrics"] = countries["metrics"].astype("int")

In [19]:
countries.describe()

          metrics
count   73.000000
mean    13.602740
std     37.577971
min      1.000000
25%      1.000000
50%      3.000000
75%      7.000000
max    260.000000

In [20]:
dimension = response["reports"][0]["columnHeader"]["dimensions"][0]
metric = response["reports"][0]["columnHeader"]["metricHeader"]["metricHeaderEntries"][0]["name"]

countries.columns = [dimension, metric]

In [21]:
countries.head()

  ga:country  ga:sessions
0  (not set)            4
1  Argentina            3
2    Armenia            1
3  Australia            4
4    Austria            7

In [23]:
response = analytics.reports().batchGet(
      body={
        'reportRequests': [
        {
          'viewId': '115892775',
          'dateRanges': [{'startDate': '7daysAgo', 'endDate': 'today'}],
          'metrics': [
                      {'expression': 'ga:sessions'}, 
                      {'expression': 'ga:goal7completions'},
                      {"expression": "ga:pageviews"}
                      ],
          'dimensions': [{'name': 'ga:date'}]
        }]
      }
  ).execute()
response

{'reports': [{'columnHeader': {'dimensions': ['ga:date'],
    'metricHeader': {'metricHeaderEntries': [{'name': 'ga:sessions',
       'type': 'INTEGER'},
      {'name': 'ga:goal7completions', 'type': 'INTEGER'},
      {'name': 'ga:pageviews', 'type': 'INTEGER'}]}},
   'data': {'maximums': [{'values': ['172', '2', '250']}],
    'minimums': [{'values': ['60', '0', '83']}],
    'rowCount': 8,
    'rows': [{'dimensions': ['20200924'],
      'metrics': [{'values': ['170', '2', '250']}]},
     {'dimensions': ['20200925'],
      'metrics': [{'values': ['150', '0', '213']}]},
     {'dimensions': ['20200926'], 'metrics': [{'values': ['86', '0', '121']}]},
     {'dimensions': ['20200927'], 'metrics': [{'values': ['79', '2', '105']}]},
     {'dimensions': ['20200928'],
      'metrics': [{'values': ['155', '2', '224']}]},
     {'dimensions': ['20200929'],
      'metrics': [{'values': ['172', '1', '237']}]},
     {'dimensions': ['20200930'],
      'metrics': [{'values': ['127', '1', '181']}]},
     {'dimensions': ['20201001'], 'metrics': [{'values': ['60', '0', '83']}]}],
    'totals': [{'values': ['999', '8', '1414']}]}}]}

In [35]:
response["reports"][0]['columnHeader']['dimensions']

['ga:date']

In [34]:
[metric['name'] for metric in response["reports"][0]['columnHeader']['metricHeader']['metricHeaderEntries']]

['ga:sessions', 'ga:goal7completions', 'ga:pageviews']

In [37]:
[row['dimensions'] for row in response["reports"][0]["data"]["rows"]]

[['20200924'],
 ['20200925'],
 ['20200926'],
 ['20200927'],
 ['20200928'],
 ['20200929'],
 ['20200930'],
 ['20201001']]

In [45]:
[row['metrics'][0]['values'] for row in response["reports"][0]["data"]["rows"]]

[['170', '2', '250'],
 ['150', '0', '213'],
 ['86', '0', '121'],
 ['79', '2', '105'],
 ['155', '2', '224'],
 ['172', '1', '237'],
 ['127', '1', '181'],
 ['60', '0', '83']]

In [53]:
dimensions_cols = response["reports"][0]['columnHeader']['dimensions']
metrics_cols = [metric['name'] for metric in response["reports"][0]['columnHeader']['metricHeader']['metricHeaderEntries']]

dimensions_data = [row['dimensions'] for row in response["reports"][0]["data"]["rows"]]
metrics_data = [row['metrics'][0]['values'] for row in response["reports"][0]["data"]["rows"]]

df = pd.DataFrame(data=dimensions_data, columns=dimensions_cols)
df[metrics_cols] = metrics_data
df.head()

    ga:date ga:sessions ga:goal7completions ga:pageviews
0  20200924         170                   2          250
1  20200925         150                   0          213
2  20200926          86                   0          121
3  20200927          79                   2          105
4  20200928         155                   2          224